body {
  background-color: #17458f;
}
h1 {
  color: #0008ff;
}
p {
  color: #9900ff;
  
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
color: #006eff;
 div.a {
  line-height: normal;
}

h3 {
color: #ff0000;
 div.a {
  line-height: normal;
}
